# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
#*.lib

# Executables
*.exe

# eclipse/DDT
.project
.settings/

# DUB
.dub
docs.json
__dummy.html
dub.selections.json


.directory
lib/opensc.def
lib/opensc_alt.def
lib/windows-x86_64-dmd/opensc.exp
lib/windows-x86_64-dmd/opensc_alt.lib
lib/windows-x86_64-dmd/out.txt
