Source: opensc-laser
Priority: extra
Section: utils
Maintainer: Viktor Tarasov <viktor.tarasov@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libltdl3-dev, libssl-dev (>= 0.9.8), libpcsclite-dev (>= 1.5.5), libassuan-dev (>= 1.0.5-1), libxt-dev, flex, pkg-config
Standards-Version: 3.8.4
Homepage: https://github.com/OpenSC/OpenSC/wiki
#Vcs-Git: git://git.debian.org/collab-maint/opensc-laser.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opensc-laser.git;a=summary

Package: opensc-laser
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Smart card utilities
 OpenSC provides a set of libraries and utilities to access smart
 cards.  It mainly focuses on cards that support cryptographic
 operations. It facilitates their use in security applications such as
 mail encryption, authentication, and digital signature. OpenSC
 implements the PKCS#11 API. OpenSC implements the PKCS#15
 standard and aims to be compatible with all software that does so as
 well.
 .
 Before purchasing any cards, please read carefully documentation in
 /usr/share/doc/opensc/html/wiki/index.html - only some cards are
 supported. Not only does card type matters, but also card version,
 card OS version and preloaded applet. Only a subset of possible
 operations may be supported for your card. Card initialization may
 require third party proprietary software.

Package: libopensc2
Section: libs
Priority: optional
Architecture: any
Conflicts: libopensc0, libopensc1
Replaces: libopensc0, libopensc1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Smart card library with support for PKCS#15 compatible smart cards
 OpenSC provides a set of libraries and utilities to access smart
 cards.  It mainly focuses on cards that support cryptographic
 operations. It facilitates their use in security applications such as
 mail encryption, authentication, and digital signature. OpenSC
 implements the PKCS#11 API. OpenSC implements the PKCS#15
 standard and aims to be compatible with all software that does so as
 well.
 .
 This package contains the libopensc libraries from https://github.com/OpenSC/OpenSC.
 .
 Card initialization can be performed by utilities in the opensc package.

Package: libopensc2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopensc2 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libopensc2
 This package contains the debugging symbols for the libopensc library
 from OpenSC.org.
 .
 Card initialization can be performed by utilities in the opensc package.
